html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Pretendard", "Noto Sans KR", sans-serif;
  margin: 0;
  background-color: var(--surface-default);
  color: var(--text-color);
  scrollbar-width: thin;
  scrollbar-color: #ddd var(--surface-default);
}

a {
  color: var(--accent);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
input,
button {
  font-family: inherit;
  outline: none;
}
