:root.dark,
body.dark {
  --bg-color: #181a1b;
  --text-color: #e8e8e8;
  --card-bg: #23272b;
  --accent: #82aaff;
  --button-bg: white;
  --button-text: black; /* 흰색 */
}
body.dark {
  background: var(--bg-color);
  color: var(--text-color);
}
